<head>
  <link rel="stylesheet" href="<%= url('/css/bootstrap.css') %>" type="text/css" />
  <link rel="stylesheet" href="<%= url('/css/spinner.css') %>" type="text/css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

  <script src="<%= url('/js/plugins/bootstrap/bootstrap.bundle.js') %>"></script>
  <script src="<%= url('/js/plugins/jquery-3.6.0.min.js') %>"></script>
  <script src="<%= url('/js/loader.js') %>"></script>

</head>

<body>
  <div id="loader">
    <div class="spinner"></div>
  </div>

  <div class="content">
    <%= styled_flash %>
    <%= yield %>
    <footer class="footer mt-auto py-3 bg-light fixed-bottom">
      <div class="container-fluid">
        <span class="text-muted">&copy; 2022 Kelina Shrestha</span>
      </div>
    </footer>
  </div>
</body>
