<div class="table-responsive pt-2">
  <table class="table table-hover table-striped caption-top">
    <caption>List of languages in POEditor</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Language name</th>
        <th scope="col">Code</th>
        <th scope="col">Stats</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @language_list.each_with_index do |lang_details, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <th scope="row">
            <a href="/view_language_terms?code=<%=lang_details['code']%>"><%= lang_details['name'] %></a>
          </th>
          <td><%= lang_details['code'] %></td>
          <td>
            <span class="badge bg-info"><%= lang_details['translations'] %> translations</span>
            <% if lang_details['percentage'] == 100 %>
              <span class="badge bg-success"><%= lang_details['percentage'] %>% completed</span>
            <% else %>
              <span class="badge bg-danger"><%= lang_details['percentage'] %>% completed</span>
            <% end %>
          </td>
          <td>
            <a href="/download?code=<%=lang_details['code']%>" class="btn btn-outline-primary" title="Download"><i class="bi bi-download"></i></a>
            <a href="/view_file?code=<%=lang_details['code']%>" class="btn btn-outline-primary" target="_blank" title="View file"><i class="bi bi-eye-fill"></i></a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function(){
    $('#languageList').parent().find('.active').removeClass('active');
    $('#languageList').addClass('active');
  })
</script>
