<div class="table-responsive">
  <table class="table table-hover table-light caption-top">
    <caption>List of terms in POEditor</caption>
    <thead class="table-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Term</th>
        <th scope="col">Context</th>
        <th scope="col">Translations</th>
      </tr>
    </thead>
    <tbody>
      <% @formatted_all_terms.each_with_index do |term_details, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <th scope="row"><%= term_details[:term] %></th>
          <td><%= term_details[:context] %></td>
          <td>
            <% term_details[:translations].each do |code, value| %>
              <span class="badge bg-primary"><%= code %></span>: <%= value %>
              <br>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function(){
    $('#listTerms').parent().find('.active').removeClass('active');
    $('#listTerms').addClass('active');
  })
</script>
